DATABASE_URL=file:local.db

# This is a secret key used for authentication. In production, you should use a secure, random value. In development, you can use any string.
BETTER_AUTH_SECRET="736vc837b98738rc17y8r7y3918473cb"
BETTER_AUTH_URL="http://localhost:5173"

# This is a test API key for Resend. You can create your own at https://resend.com
RESEND_API_KEY="re_sYTCUYGG_cyCRTRt55CHtff56Cf5fcucJ"
